.vs
/Library
/Library/metadata/
/ProjectSettings
/Temp
/Assets/XLua/Gen
/Assets/XLua/Gen.meta
Assets/StreamingAssets.meta
Assets/StreamingAssets/
Assets/xLuaTest.meta
Assets/xLuaTest/
/*.csproj
/*.sln
/build/build*
UnityVS
/Assets/UnityVS.meta
.DS_Store
*.o
/build/*/*.a
luajit
buildvm
minilua
libluajit.so
lj_vm.S
build/luajit-2.1.0b2/src/host/buildvm_arch.h
build/luajit-2.1.0b2/src/jit/vmdef.lua
build/luajit-2.1.0b2/src/lj_bcdef.h
build/luajit-2.1.0b2/src/lj_ffdef.h
build/luajit-2.1.0b2/src/lj_folddef.h
build/luajit-2.1.0b2/src/lj_libdef.h
build/luajit-2.1.0b2/src/lj_recdef.h
build/luajit-2.1.0b2/src/lua51.lib
build/luajit-2.1.0b2/src/luajit.exe
build/luajit-2.1.0b2/src/luajit.exp
build/luajit-2.1.0b2/src/luajit.lib

Client/Assets/Plugins/xlua.bundle.meta
Client/Assets/Plugins/x86_64/libxlua.so.meta
Client/Assets/Plugins/x86_64/xlua.dll.meta
Client/Logs/Packages-Update.log
Client/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Client/obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
Client/Packages/manifest.json
Data/Lua/UI_NEW/UIBase/UIBaseCollect.lua
Data/Lua/UI_NEW/UIBase/UIBaseView.lua
Data/Lua/UI_NEW/UIBase/UIManager.lua
